<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName = "Amiga Power Analysis" ?>
<?define ProductVersion = "!(bind.FileVersion.MainExe)" ?>
<?define ProductUpgradeCode = "{DE4FBCF5-135D-4A27-9D4B-8246CEDF13D2}"?>
<?define MainExe = "AmigaPowerAnalysis.exe"?>
<?define ProductDocument = "xapa"?>
<?if $(var.Platform) = x64 ?>
<?define bitness = "(64 bit)" ?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define bitness = "(32 bit)" ?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Manufacturer="Wageningen UR" Language="1033"
           Version="$(var.ProductVersion)" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of [ProductVersionName] is already installed."
      AllowSameVersionUpgrades="yes"
      />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="ProductIcon" SourceFile="Resources\Logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
    <Property Id="MSIFASTINSTALL" Value="1"/>

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1" Display="expand" ConfigurableDirectory='INSTALLFOLDER'>
      <ComponentGroupRef Id="ApplicationComponentGroup" />
      <ComponentGroupRef Id="PowerAnalysisRScriptsGroup" />
      <ComponentGroupRef Id="PowerAnalysisGenstatScriptsGroup" />
      <ComponentGroupRef Id="ManualGroup" />
      <ComponentGroupRef Id="ExamplesGroup" />
      <ComponentRef Id="ProgramMenuSubFolderComponent"/>
      <ComponentRef Id="DesktopShortcutComponent"/>
    </Feature>

    <WixVariable Id="WixUIBannerBmp" Value="Resources\Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\Dialog.bmp" />
    <UI>
      <UIRef Id="WixUI_Custom" />
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    </UI>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Root of the application folder -->
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
          <Directory Id="Resources" Name="Resources">
            <Directory Id="RScripts" Name="RScripts">
            </Directory>
            <Directory Id="GenstatScripts" Name="GenstatScripts">
            </Directory>
          </Directory>
          <Directory Id="Manual" Name="Manual">
          </Directory>
          <Directory Id="Examples" Name="Examples">
          </Directory>
        </Directory>
      </Directory>
      <!-- Root of the programs menu folder -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuSubFolder" Name="$(var.ProductName)"/>
      </Directory>
      <!-- Desktop folder -->
      <Directory Id="DesktopFolder" />
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="{562559F9-87C1-4618-9204-1F39583EE947}">
        <Shortcut Id="DesktopShortcut" Name="$(var.ProductName)" Description="$(var.ProductName)" Target="[INSTALLFOLDER]$(var.MainExe)" WorkingDirectory="INSTALLFOLDER">
          <Icon Id="DesktopIcon" SourceFile="Resources\Logo.ico" />
        </Shortcut>
        <RegistryValue Root="HKCU" Key="Software\Wageningen UR\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuSubFolder">
      <Component Id="ProgramMenuSubFolderComponent" Guid="{FF325E2E-9503-4C2C-9BE0-AD6A13A6DCD6}">
        <Shortcut Id="ProgramMenuShortcut" Name="$(var.ProductName)" Description="$(var.ProductName)" Target="[INSTALLFOLDER]$(var.MainExe)" WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\Wageningen UR\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ApplicationComponentGroup" Directory="INSTALLFOLDER">
      <Component Guid="{B7149209-2DD9-421D-998F-531412A53B6C}">

        <File Id="MainExe" Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\$(var.MainExe)" KeyPath="yes" />

        <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductName)\Capabilities" Name="ApplicationIcon" Value="[APPLICATIONFOLDER]$(var.MainExe),0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductName)\Capabilities" Name="ApplicationName" Value="$(var.ProductName)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductName)\Capabilities\DefaultIcon" Value="[APPLICATIONFOLDER]$(var.MainExe),1" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductName)\Capabilities\FileAssociations" Name="$(var.ProductDocument)" Value="$(var.ProductName).Document" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductName)\Capabilities\MIMEAssociations" Name="application/$(var.ProductDocument)" Value="$(var.ProductDocument)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductName)\Capabilities\shell\Open\command" Value="&quot;[APPLICATIONFOLDER]$(var.MainExe) &quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="$(var.ProductName)" Value="SOFTWARE\$(var.ProductName)\Capabilities" Type="string" />

        <!-- App Paths to support Start,Run -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\$(var.MainExe)" Value="[APPLICATIONFOLDER]$(var.MainExe)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\$(var.MainExe)" Name="Path" Value="[APPLICATIONFOLDER]" Type="string" />

        <!-- Register file extension association -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\$(var.ProductName) Document" Name="FriendlyTypeName" Value="$(var.ProductName) project file" Type="string" />
        <ProgId Id="$(var.ProductName) Document" Description="$(var.ProductName) project file" Advertise="no">
          <Extension Id="$(var.ProductDocument)" ContentType="application/$(var.ProductDocument)">
            <Verb Id="open" Command="Open with $(var.ProductName)" TargetFile="MainExe" Argument='"%1"' />
          </Extension>
        </ProgId>

      </Component>
      <Component Guid="{3FBB0E65-B43D-4C52-AE7D-5F8C20FA6616}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\Biometris.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{1727779B-BD44-476C-AAE3-4F36AF41CCC4}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\DynamicInterop.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{3F36344F-55A8-4BA4-B935-ADEC2F0877F8}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\MathNet.Numerics.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{655DF6D8-7B79-4A52-AE77-CBA1B10954E6}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\Microsoft.Win32.Registry.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{D4CE65E3-D88A-4A7D-861A-14FA24723A04}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\OpenHtmlToPdf.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{5E1C1A2C-F3F5-4D69-B14F-F0C5F93E8683}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\OxyPlot.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{83ECBA92-89F6-4054-9F00-9948D9FF2303}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\OxyPlot.WindowsForms.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{8D658C8F-0678-4122-B533-95B6D1B01619}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\OxyPlot.Wpf.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{81794B9E-14AA-4E47-BD65-301C99A415EB}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\OxyPlot.Xps.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{6A98CBCD-0D8D-4C10-9C6F-5707F5DCCA5C}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\RDotNet.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{076459D4-CAA1-426A-8AF9-A98B62887783}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\System.Security.AccessControl.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{11282B84-9A48-4690-ACEE-5B72A1ADE44B}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\System.Security.Principal.Windows.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="PowerAnalysisRScriptsGroup" Directory="RScripts">
      <Component Guid="{74BC5A04-A99E-4CBD-ABF6-DA5A643B8C04}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\Resources\RScripts\AmigaPowerAnalysis.R" KeyPath="yes" />
      </Component>
      <Component Guid="{AC83FDDC-4A7C-4A29-9671-C558D578C6BA}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\Resources\RScripts\AMIGAPowerLyles.R" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="PowerAnalysisGenstatScriptsGroup" Directory="GenstatScripts">
      <Component Guid="{C7F7EB39-302B-49C5-B10C-A7ACC4DED51A}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\Resources\GenstatScripts\AmigaPowerAnalysis.gen" KeyPath="yes" />
      </Component>
      <Component Guid="{FB2AAB26-0208-41CB-B7A5-11A9266FEC74}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\Resources\GenstatScripts\AmigaPowerValidation-Simulate.pro" KeyPath="yes" />
      </Component>
      <Component Guid="{A70B4855-9FBF-42A3-859C-EA3577DF52C0}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\Resources\GenstatScripts\AmigaPowerValidation-Simulate.gen" KeyPath="yes" />
      </Component>
      <Component Guid="{4AABD865-7579-4F79-8A89-60C1CD7BAC9C}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\Resources\GenstatScripts\Lyles.pro" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ManualGroup" Directory="Manual">
      <Component Guid="{3B4D0D4C-16AF-4C91-BF07-675EBE8F83E0}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\Manual\User Manual.pdf" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ExamplesGroup" Directory="Examples">
      <Component Guid="{B0C1DBFD-FA06-4FCB-AB01-5CCA0B5F2ACE}">
        <File Source="..\AmigaPowerAnalysis.Core\bin\$(var.Platform)\Release\Examples\Arthropods.xapa" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
